.Card {
    position: relative;

    width: 260px;
    padding-top: 107px;
}

.Wrapper {
    position: absolute;
    top: 0;

    width: 100%;
    height: 137px;

    & img {
        max-width: 259px;
        height: 137px;
    }
}

.Body {
    padding: 49px 24px 18px;

    background-color: var(--white-color);
    border-radius: 15px;
}

.Material {
    margin: 0 0 13px;

    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
}

.Info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Price {
    flex-shrink: 0;

    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    color: var(--main-color);
}

.Control {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 40px 40px;
}

.Checkbox {
    background: url("./assets/plus.svg") no-repeat center center / 20px 20px;
}
