.Wrapper {
    position: relative;
}

.Button {
    --rotate: 0deg;

    cursor: pointer;

    position: relative;
    z-index: 2;

    width: 260px;
    height: 60px;
    padding-left: 21px;

    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: var(--text-color);
    text-align: left;

    background-color: var(--white-color);
    border: 1px solid var(--stroke-color);
    border-radius: 15px;

    &::after {
        content: "";

        position: absolute;
        top: 50%;
        right: 17px;
        transform: rotate(var(--rotate)) translateY(-50%);
        transform-origin: 50% 0%;

        width: 12px;
        height: 10px;

        background: url("./assets/dropdown.svg") no-repeat center center /
            contain;

        transition: all 0.3s ease;
    }

    &.Open {
        --rotate: 180deg;
    }
}

.Name {
    display: block;

    margin-bottom: 15px;

    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: var(--label-color);
}

.List {
    position: absolute;
    z-index: 1;
    bottom: 12px;
    left: 0;
    transform: translateY(100%);

    overflow: hidden;
    display: none;

    width: 100%;
    margin: 0;
    padding: 20px 0 0;

    opacity: 0;
    background-color: var(--white-color);
    border: 1px solid var(--stroke-color);
    border-radius: 0 0 15px 15px;

    transition: all 0.3 ease;

    &.Open {
        display: block;

        opacity: 1;
    }
}

.Option {
    cursor: pointer;

    display: flex;
    align-items: center;

    height: 57px;
    padding-left: 20px;

    font-size: 18px;
    line-height: 22px;
    list-style: none;

    &.Checked {
        background-color: var(--background-color);
    }
}
