.BlockName {
    margin: 0 0 33px;

    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: var(--label-color);
}

.Button {
    margin: 0 auto;
}

.Type {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    margin-bottom: 40px;
}
