.Button {
    cursor: pointer;

    width: 40px;
    height: 40px;

    background-color: var(--white-color);
    border: 1px solid var(--stroke-color);
    border-radius: 10px;
}

.Hint {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(112px);

    width: 100%;
    padding: 12px;

    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: var(--label-color);

    visibility: hidden;
    opacity: 0;
    background-color: var(--white-color);
    border: 1px solid var(--stroke-color);
    border-radius: 15px;

    transition: all 0.3s ease;

    &::after {
        content: "";

        position: absolute;
        z-index: -1;
        top: -12px;
        left: 59.3%;

        width: 26px;
        height: 12px;

        background: url("./assets/rhomb.svg") no-repeat top / cover;
    }

    &.Open {
        visibility: visible;
        opacity: 1;
    }
}
