.Wrapper {
    position: relative;
}

.Eye {
    cursor: pointer;

    position: absolute;
    top: 46px;
    right: 13px;

    width: 42px;
    height: 42px;

    background: url("./assets/eyeClose.svg") no-repeat center center / contain;

    transition: all 0.3s ease;

    &.Open {
        background: url("./assets/eyeOpen.svg") no-repeat center center /
            contain;
    }
}
