.Container {
}

.Button {
	width: 40px;
	height: 40px;

	cursor: pointer;

	border: 1px solid var(--strokeColor);
	border-radius: 10px;
	background-color: var(--whiteColor);
}

.Hint {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%) translateY(112px);

	width: 100%;
	padding: 12px;

	border: 1px solid var(--strokeColor);
	border-radius: 15px;
	background-color: var(--whiteColor);

	font-size: 16px;
	font-weight: 500;
	line-height: 20px;

	color: var(--labelColor);

	opacity: 0;
	visibility: hidden;

	transition: all 0.3s ease;
}

.Hint:after {
	content: ''; 

	position: absolute;
	top: -12px;
	left: 59.3%;
	z-index: -1;

	width: 26px;
	height: 12px;
	background: url('./Icon/rhomb.svg') no-repeat top / cover;
}

.Hint.Open {
	opacity: 1;
	visibility: visible;
}
