/* stylelint-disable */
.Table {
    table-layout: fixed;

    width: 100%;
    margin-top: -3px;

    // remove after
    margin-left: -3px;

    & th {
        padding-bottom: 13px;

        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        color: hsl(227deg 18% 72% / 100%);
        text-align: left;
    }

    & > thead > th {
        &:nth-child(1) {
            width: 36%;
        }

        &:nth-child(2) {
            width: 13%;

            text-align: right;
        }

        &:nth-child(3) {
            width: 17%;

            text-align: right;
        }

        &:nth-child(4) {
            width: 17.5%;

            text-align: right;
        }

        &:nth-child(5) {
            width: auto;

            text-align: right;
        }
    }
}
