.Status {
    --main-color: black;
    display: inline-block;

    padding: 6px 14px;

    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    color: var(--main-color);
    text-transform: uppercase;

    border: 1px solid black;
    border-color: var(--main-color);
    border-radius: 6px;

    &.inProgress {
        --main-color: hsl(25deg 100% 50% / 100%);
    }

    &.Delivery {
        --main-color: hsl(43deg 100% 46% / 100%);
    }

    &.inWork {
        --main-color: hsl(126deg 64% 44% / 100%);
    }

    &.Finish {
        --main-color: hsl(218deg 51% 16% / 100%);
    }
}
