.Bubble {
	position: relative;

	margin-bottom: 34px;

	padding: 35px 40px;

	border-radius: 20px;

	background-color: var(--backgroundColor);

}

.Bubble:last-child {
	margin-bottom: 0;
}

.Tail::before {
	position: absolute;

	top: -34px;
	left: 40px;

	width: 77px;
	height: 34px;

	content: "";

	background: url("./assets/tail.svg") no-repeat center center / contain;
}