.Bubble {
    position: relative;

    margin-bottom: 34px;
    padding: 35px 40px;

    background-color: var(--background-color);
    border-radius: 20px;
}

.Bubble:last-child {
    margin-bottom: 0;
}

.Tail::before {
    content: "";

    position: absolute;
    top: -34px;
    left: 40px;

    width: 77px;
    height: 34px;

    background: url("./assets/tail.svg") no-repeat center center / contain;
}
