.BlockName {
	margin: 0 0 33px;

	color: var(--labelColor);

	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
}

.Button {
	margin: 0 auto;
}

.Type {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 40px;

	margin-bottom: 40px;
}