.Gift {
	position: relative;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;

	width: 315px;
	height: 210px;
	
	padding-bottom: 22px;
}

.Gift:nth-child(1) {
	margin-right: -117px;
}
.Gift:nth-child(2) {
	margin-right: -115px;
}
.Gift:nth-child(3) {
	margin-right: -45px;
}

.Background {
	position: absolute;
	top: 0;
	right: 0;
}

.Image {
	position: absolute;
	top: 32px;
	right: 53px;
}

.Gift:nth-child(2) > .Image {
	top: 35px;
	right: 64px;
}
.Gift:nth-child(3) > .Image {
	top: 31px;
	right: 85px;
}

.Description {
	position: relative;

	margin: auto 0 0 57px;
	align-self: flex-start;

	font-size: 18px;
	font-weight: 500;
	line-height: 22px;
}

.Description b {
	display: block;
	margin-top: 5px;

	font-size: 20px;
	line-height: 22px;
	color: var(--mainColor);
}
