.Footer {
    padding: 55px 0;

    color: var(--backgroundColor);
    background-color: #272934;
}

.Container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.Row {
    display: flex;

    width: 100%;
    margin-bottom: 18px;
}

.Row:nth-child(2) {
    align-items: flex-end;
}

.Row:last-child {
    margin-bottom: 0;
}

.Rent {
}

.Subtitle {
    margin: 0 0 26px;

    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
}

.Group {
    margin: 0;
    padding: 0;

    & li {
        margin-bottom: 6px;

        list-style: none;

        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
    }
}

.Navigation {
    margin-left: auto;
}

.List {
    display: flex;

    margin: 0;
    padding: 0;

    list-style: none;

    color: var(--whiteColor);

    font-size: 18px;
    font-weight: 600;

    & li {
        margin-right: 48px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.Link {
    transition: color 0.3s ease;

    &:hover,
    &:focus,
    &:active {
        color: var(--mainHoverColor);
    }
}

/* Row 2  */

.Privacy {
    margin-right: 150px;

    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
}

.Rights {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
}

.Social {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0 0 0 auto;
    padding: 0;

    & li {
        margin-right: 39px;

        list-style: none;

        &:last-child {
            margin-right: 0;
        }
    }
}
