.SecondTable {
    table-layout: fixed;

    width: 100%;

    border-bottom: 1px solid #dde3eb;

    & > thead > th {
        padding-bottom: 7px;

        text-align: left;

        &:nth-child(1) {
            width: 52%;
        }

        &:nth-child(2) {
            width: 15%;

            text-align: right;
        }

        &:nth-child(3) {
            width: 18%;

            text-align: right;
        }

        &:nth-child(4) {
            width: 17.5%;

            text-align: right;
        }
    }

    & td {
        padding-bottom: 14px;

        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        text-align: right;

        &:first-child {
            text-align: left;
        }
    }

    & > tr {
        &:last-child {
            & td {
                padding-bottom: 28px;
            }
        }
    }
}

.Row {
    cursor: pointer;

    position: relative;

    & > td {
        padding-top: 12px;
        padding-bottom: 12px;

        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
        text-align: right;

        border-bottom: 1px solid #dde3eb;

        &:first-child {
            padding-left: 31px;

            text-align: left;

            &::before {
                content: "";

                position: absolute;
                top: 25px;
                left: 0;

                width: 10px;
                height: 10px;

                background: url("./assets/arrow.svg") no-repeat center center /
                    contain;
            }
        }
    }
}

.Wrapper {
    padding-top: 6px;
    padding-left: 28px;
}



.Footer {
    margin-top: 14px;
    padding-bottom: 40px;

    border-bottom: 1px solid #dde3eb;
}

.Inner {
    .Cell {
        display: flex;
        justify-content: flex-end;

        margin-bottom: 11px;

        span {
            display: block;

            font-weight: 500;
            text-align: right;

            &:nth-child(1) {
                width: 17.5%;

                color: var(--label-color);
            }

            &:nth-child(2) {
                width: 16.5%;
            }
        }

        &.Price {
            font-size: 18px;
        }
    }
}

.Info {
    // display: flex;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
}

.List {
    font-weight: 500;
    line-height: 22px;

    & > div {
        margin-bottom: 14px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.Buttons {
    display: flex;
    grid-gap: 40px;
    align-items: flex-end;
    justify-content: space-between;
}
