.Wrapper {
	display: flex;
	align-items: center;

	& input {
		appearance: none;
		position: absolute;
		z-index: -1;
		opacity: 0;

		&:checked {
			&~.Checkmark {
				&::after {
					content: "";
					display: block;
					width: 21.33px;
					height: 21.33px;
					background-color: var(--mainColor);
					border-radius: 50%;
				}
			}
		}
	}
}

.Checkmark {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 32px;
	height: 32px;
	border: 1px solid var(--strokeColor);
	border-radius: 50%;
	background-color: var(--whiteColor);
}


.Label {
	margin-left: 23px;
	font-size: 18px;
	font-weight: 500;
	line-height: 22px;
}