.Filter {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(2, 260px);

    margin-bottom: 40px;
}

.Content {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(4, 1fr);

    margin-bottom: 40px;
}

.Button {
    margin: 0 auto;
}
