.Buble {
    padding: 65px 30px 70px 50px;
}

.Inner {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 1fr 1fr;

    margin-bottom: 40px;
}

.Group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-bottom: 23px;
    padding: 0;

    border: none;
}

.Input {
    margin-bottom: 15px;
}

.halfWidth {
    width: calc(50% - 20px) !important;
}

.Label {
    margin-bottom: 15px;

    font-weight: 500;
    line-height: 22px;
    color: var(--label-color);
}

.Cell {
    position: relative;

    display: flex;
    justify-content: space-between;

    padding: 16px;

    background-color: var(--white-color);
    border-radius: 15px;
}

.Hint > div {
    transform: translateX(-28%) translateY(93%);
}

.Rules {
    padding: 18px 21px;

    border: 1px solid var(--stroke-color);
    border-radius: 15px;
}

.Heading {
    margin: 0;
    margin-bottom: 9px;

    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: var(--label-color);
}

.Answer {
    margin: 0 0 27px;

    font-size: 16px;
    font-weight: 500;
    line-height: 22.5px;
}

.Answer:last-child {
    margin-bottom: 0;
}

.Button {
    margin: 0 auto;
}
