.Button {
	width: 40px;
	height: 40px;

	cursor: pointer;

	border: 1px solid var(--strokeColor);
	border-radius: 10px;
	background-color: var(--whiteColor);
}

.Hint {
	position: absolute;
	bottom: 0;
	left: 50%;

	visibility: hidden;

	width: 100%;
	padding: 12px;

	transition: all 0.3s ease;
	transform: translateX(-50%) translateY(112px);

	opacity: 0;

	color: var(--labelColor);

	border: 1px solid var(--strokeColor);
	border-radius: 15px;
	background-color: var(--whiteColor);

	font-size: 16px;
	font-weight: 500;
	line-height: 20px;

	&::after {
		position: absolute;
		z-index: -1;
		top: -12px;
		left: 59.3%;
	
		width: 26px;
		height: 12px;
	
		content: "";
	
		background: url("./assets/rhomb.svg") no-repeat top / cover;
	}

	&.Open {
		visibility: visible;
	
		opacity: 1;
	}
}