.Input {
    margin-bottom: 34px;
}

.Forget {
    position: relative;

    display: block;

    font-weight: 500;
    color: var(--main-color);
    text-align: center;

    &::before {
        content: "";

        position: absolute;
        bottom: -3px;
        left: 50%;
        transform: translateX(-50%);

        display: block;

        width: 139px;
        height: 1px;

        background-color: var(--main-color);
    }
}

.Button {
    margin-bottom: 21px;
}

.Auth {
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 500;
    line-height: 20px;
    color: var(--label-color);

    & .Link {
        position: relative;

        display: block;

        margin-left: 12px;

        font-weight: 500;
        color: var(--main-color);
        text-align: center;

        &::before {
            content: "";

            position: absolute;
            bottom: -3px;
            left: 50%;
            transform: translateX(-50%);

            display: block;

            width: 100%;
            height: 1px;

            background-color: var(--main-color);
        }
    }
}
