.Card {
    padding: 15px;

    font-size: 18px;
    line-height: 22px;

    background-color: var(--white-color);
    border-radius: 15px;
}

.TopLine {
    display: flex;
    justify-content: space-between;

    margin-bottom: 15px;

    color: var(--label-color);
}

.FrameSize {
    font-size: inherit;
    font-weight: 800;
    line-height: inherit;
    color: inherit;
}

.Brand {
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    color: inherit;
}

.Image {
    position: relative;

    width: 230px;
    height: 140px;
    margin-bottom: 13px;
    padding: 24px 26px;

    background-color: #f2f4f7;
    border-radius: 10px;

    & img {
        width: 177px;
        height: 93px;
    }
}

.Name {
    margin: 0 0 16px;

    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
}

.Price {
    margin-bottom: 0 0 16px 0;

    font-size: 20px;
    font-weight: 700;
    line-height: inherit;
    color: var(--main-color);
}

.Button {
    cursor: pointer;

    width: 100%;
    height: 40px;

    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: var(--main-color);
    text-transform: uppercase;

    background: transparent;
    border: 1px solid var(--main-color);
    border-radius: 10px;

    transition: all 0.3s ease;

    &.Checked {
        color: var(--white-color);

        background-color: var(--main-color);

        &.Enter {
            background-color: var(--main-hover-color);
        }
    }
}
