@import "./assets/fonts/Montserrat/stylesheet.css";

:root {
    --text-color: hsl(218deg 51% 16% / 100%);
    --inptex-color: hsl(227deg 15% 52% / 100%);
    --label-color: hsl(226deg 17% 72%);
    --stroke-color: hsl(214deg 26% 89% / 100%);
    --background-color: hsl(216deg 24% 96% / 100%);
    --main-color: hsl(216deg 100% 58% / 100%);
    --white-color: hsl(0deg 0% 100% / 100%);
    --main-hover-color: hsl(218deg 100% 50% / 100%);
    --border-color: hsl(214deg 25% 89%);
}

body {
    margin: 0;
    padding: 0;

    font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    color: var(--text-color);
}

a {
    color: inherit;
    text-decoration: none;
}

input {
    font-family: inherit;
}

* {
    box-sizing: border-box;
}

button {
    font-family: Montserrat, sans-serif;
}

h1 {
    margin: 0;

    font-size: 48px;
    font-weight: 600;
    line-height: 58px;
}

h2 {
    margin: 0;

    font-size: 28px;
    line-height: 31px;
}

/* FLATPICKE STYLES */
.flatpickr-input {
    width: 260px;
    height: 60px;
    padding: 0 20px;

    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;

    background-color: var(--white-color);
    border: 1px solid var(--stroke-color);
    border-radius: 15px;
}
